@keyframes fade {
  0%    { opacity: 0; }
  100%  { opacity: 0.7; }
}

@keyframes rotateIn {
	from { transform: rotate(0deg); }
  to { transform: rotate(180deg); }
}

@keyframes rotateOut {
	from { transform: rotate(180deg); }
  to { transform: rotate(0deg); }
}

@keyframes wizz {
  0%    { transform: rotate(0deg); }
  25%   { transform: rotate(-20deg); }
  50%   { transform: rotate(0deg); }
  75%   { transform: rotate(20deg); }
  100%  { transform: rotate(0deg); }
}
