.footer {
  background-color: $light-gray;
	color: $dark-gray;
	height: 50px;
	line-height: 50px;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
}

.footer-links {
	text-align: right;
}

.footer-links a {
	color: $dark-gray;
}
