.top-bar {
	line-height: 2em;
	vertical-align: middle;
}

.top-bar-title {
	font-weight: bold;
	font-size: 2em;
}

.top-bar-title a {
	color: black;
}

.top-bar-right {
	@include breakpoint(small only) {
		width: auto!important;
	}
}

.header-picture {
	width: 50px;
	height: 50px;
	border-radius: 50%;
}
