html, body {
	height: 100%;
}

.off-canvas-wrapper {
	min-height: 100%;
}

main {
	padding-bottom: 70px;
}

.page-title {
	margin-top: 10px;
	margin-left: .625rem;

	@include breakpoint(large) {
		margin-left: 0;
	}
}

.add a:hover .fa  {
  animation-name: wizz;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;
}

.add {
  position: fixed;
  bottom: 15px;
  right: 20px;

	@include breakpoint(large) {
		bottom: 60px;
	}
}

.add a {
  color: #267cb5;
  text-decoration: none;
}

.add a .fa {
  font-size: 64px;
	animation-name: rotateOut;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.add a:hover .fa  {
  animation-name: rotateIn;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
	animation-iteration-count: 1;
}

.add a:hover .add-text {
  animation-name: fade;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.add-text {
	display: inline-block;
  opacity: 0;
  color: $white;
  background: black;
  padding: 5px 5px 5px 10px;
  font-weight: bold;
  position: relative;
  margin-right: 25px;
  margin-top: 50vh;
  transform: translateY(-50%);
}

.add-text:after {
  left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(0, 0, 0, 0);
	border-left-color: #000000;
	border-width: 22px;
	margin-top: -22px;
}

.thumbnail {
	margin-right: 20px;
}

.thumbnail img {
	width: 300px;
}

.list-title {
	list-style: none;
	font-weight: bold;
	margin-left: -1.25rem;
}

.markdown {
	border: 1px dashed grey;
	background: $light-gray;
	margin: 10px 0;
	padding: 15px;
}
