.page-perso h2 strong {
	font-weight: normal;
	text-transform: uppercase;
}

.page-perso .right {
	float: right;
	text-align: right;
	margin-right: 10px;
}

.page-perso .block {
	margin-bottom: 25px;
}

.page-perso .block:last-of-type, p:last-of-type {
	margin-bottom: 0;
}

.page-perso header {
	margin-bottom: 20px;
}

.page-perso header .head {
	margin-top: 55px;
	padding: 10px 20px;
	line-height: 20px;
	background: #cbebf4;
	background: -moz-linear-gradient(top, #cbebf4 0%, #a9e4f7 100%);
	background: -webkit-linear-gradient(top, #cbebf4 0%,#a9e4f7 100%);
	background: linear-gradient(to bottom, #cbebf4 0%,#a9e4f7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cbebf4', endColorstr='#a9e4f7',GradientType=0 );
}

.page-perso header p {
	line-height: 25px;
}

.page-perso header img {
	width: 175px;
	margin-top: -55px;
	float: right;
	border-style: solid;
	border-color: #cbebf4;
	border-width: 3px 0 3px 3px;
}

.page-perso .contact {
	padding: 10px 20px;
}

.page-perso ul.timeline li {
	list-style-type: none;
	line-height: 25px;
	margin-bottom: 10px;
}

.page-perso ul.timeline li .date {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

.page-perso ul.timeline li .description {
	display: inline-block;
}

.page-perso ul.timeline li ul {
	margin-left: 15px;
}

.page-perso ul.timeline li ul li .date {
	width: 135px;
}

.page-perso ul.timeline li ul li .date:before {
	content: "> ";
}

.page-perso .loisirs ul {
	margin-left: 20px;
	line-height: 22px;
}
