.tasklist {
	list-style: none;
  padding: 0;
	margin: 0;
	border-bottom: 1px solid $black;
}

.tasklist-item {
	border-top: 1px solid $black;
	padding: 10px;
	line-height: 1.5em;
	width: 100%;
	display: flex;
	align-items: center;
}

.tasksort, .taskfilter {
	list-style: none;
  padding: 0;
	margin: 0;
}

.tasksort {
	@extend .float-left;
}

.taskfilter {
	@extend .float-right;
}

.tasksort-title, .taskfilter-title {
	font-weight: bold;
}

.tasksort li, .taskfilter li {
	display: inline;
	margin-right: 15px;
}

.tasksort a i {
	color: $black;
}

.tasksort a.active i, .taskfilter li a.active {
	color: green;
}

.tasksort li:last-of-type, .taskfilter li:last-of-type {
	margin-right: 0;
}

.tasklist-item:nth-child(odd) {
  background: #ededed;
}

.tasklist-item:hover {
  background: $light-gray;
}

.tasklist-item[onclick] {
	cursor: pointer;
}

.tasklist-item-id,
.tasklist-item-priority,
.tasklist-item-description,
.tasklist-item-creator,
.tasklist-item-assignee,
.tasklist-item-due {
	margin-right: 20px;
}

.tasklist-item-id {
	@extend .badge;
	font-size: 1.2em;
	font-family: 'Century Gothic', Verdana, Arial, serif;
}

.tasklist-item-right {
	margin-left: auto;
}

.tasklist-item-description {
	font-weight: bold;
}

.tasklist-item-creator,
.tasklist-item-assignee,
.tasklist-item-finishor {
	font-size: 0.8em;
	font-weight: normal;
}

.tasklist-item-user-picture {
	width: 24px;
	height: 24px;
	border-radius: 50%;
}

@include breakpoint(medium down) {
	.tasklist-item-actions,
	.tasklist-item-creator,
	.tasklist-item-assignee,
	.tasklist-item-finishor	 {
		display: block;
	}

	.tasklist-item-due, .tasksort-title, .taskfilter-title {
		display: none!important;
	}

	.tasksort, .taskfilter {
		float: none!important;
	}

	.tasksort {
		text-align: center;
	}

	.taskfilter {
		text-align: center;
		margin: 10px 0;
	}

	.tasklist-item-actions {
		font-size: 1.5em;
	}
}

.tasklist-item-priority .badge {
	line-height: 1.5em;
}

.tasklist-item-actions a, .tasklist-item-actions > .fa {
  text-decoration: none;
  margin-right: 5px;
}

.tasklist-item-actions a:last-of-type, , .tasklist-item-actions > .fa:last-of-type {
  margin-right: 0;
}

.tasklist-item-actions .fa-check {
  color: green;
}

.tasklist-item-actions .fa-times {
  color: red;
}

.tasklist-item-actions .fa-pencil {
  color: black;
}

.tasklist-item-actions a:hover .fa,  {
  animation-name: wizz;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;
}

.tasklist-item-close {
	background: $medium-gray!important;
}

.tasklist-item-close .tasklist-item-description-text {
  text-decoration: line-through;
}

.tasklist-item-close .tasklist-item-actions {
  text-decoration: none;
  cursor: not-allowed;
}

.tasklist-item-close .tasklist-item-actions .fa, .tasklist-item-close > span {
  color: $dark-gray;
}

.tasklist-item-close .badge {
	background: $dark-gray;
	color: black;
}
