.userlist {
	list-style: none;
  padding: 0;
	margin: 0;
}

.userlist-header, .userlist-item {
	border-top: 1px solid $black;
	padding: 10px;
	line-height: 1.5em;
	width: 100%;
	display: flex;
	align-items: center;
}

.userlist {
	border-bottom: 1px solid $black;
}

.userlist-header {
	@include hide-for-only(small);
	background: $medium-gray;
  color: $white;
  font-weight: bold;
}

.userlist-item:nth-child(odd) {
  background: #ededed;
}

.userlist-item:hover {
  background: $light-gray;
}

.userlist-item[onclick] {
	cursor: pointer;
}

.userlist-item-id,
.userlist-item-name,
.userlist-item-email {
	margin-right: 20px;
}

.userlist-item-creator-picture {
	width: 32px;
	height: 32px;
}

.userlist-item-id {
	font-size: 1.2em;
	color: $dark-gray;
	font-family: 'Century Gothic', Verdana, Arial, serif;
}

.userlist-item-actions {
	margin-left: auto;
}

.userlist-item-actions a, .userlist-item-actions > .fa {
  text-decoration: none;
  margin-right: 5px;
}

.userlist-item-actions a:last-of-type, , .userlist-item-actions > .fa:last-of-type {
  margin-right: 0;
}

.userlist-item-actions .fa-check {
  color: green;
}

.userlist-item-actions .fa-pencil {
  color: black;
}

.userlist-item-actions a:hover .fa, .task-add a:hover .fa  {
  animation-name: wizz;
  animation-duration: 0.2s;
  animation-iteration-count: 3;
  animation-timing-function: ease-out;
}

.userform-picture {
	width: 150px;
	height: 150px;
	margin: 5px 0 10px 0;
}
